---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.description }}</description>
    <language>{{ site.locale | default('en') }}</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.feed | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {%- for post in collections.feed %}
    {%- set absolutePostUrl = site.url + post.url %}
    {%- set postImage = post.data.photo or post.data.image or (post.content | extractFirstImage) %}
    <item>
      <title>{{ post.data.title | default(post.content | striptags | truncate(80)) | escape }}</title>
      <link>{{ absolutePostUrl }}</link>
      <guid isPermaLink="true">{{ absolutePostUrl }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <description>{{ post.content | htmlToAbsoluteUrls(absolutePostUrl) | escape }}</description>
      {%- if postImage %}
      {%- set imageUrl = postImage | url | absoluteUrl(site.url) %}
      <enclosure url="{{ imageUrl }}" type="image/jpeg" length="0"/>
      <media:content url="{{ imageUrl }}" medium="image"/>
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>
